body {
    background: black;
    color: aliceblue;
    font-family: 'Capture it', sans-serif;

}

.btn {
    color: aliceblue;
}

.btn-close {
    background: black;
    color: white;
}

.offcanvas {
    background: black;
    transition: all 1s ease-in-out;
    background-image: url("./texture/FW_Folded_Paper_03.png");
    background-size: 490px;
}

.offcanvas-body a {
    color: #FFED00;
    font-size: 24px;
    text-decoration: none;
}

.offcanvas-body ul{
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}

.offcanvas-body li {
    margin: 20px;
}

.homepage-images {
    margin: 0 auto;
    padding: 0;
}

.christmas-experience {
    text-align: center;
    color: #f7f7f2;

    margin: 50px 10px 75px;
    padding: 20px;
}

.past {
    margin: 200px 0 0 0;
}

.present {
     margin: 200px 100px 0; 
}
.future {
    margin: 200px 0 0 0;
}

.buzz-from-the-past {
    color: #ffed00;
    margin: 20px;
}

.buzz-from-the-past h1 {
    margin: 10px ;
    padding: 10px;
}

.buzz-from-the-past h2 {
    font-size: 14px;
    background: #88A201;
    width: 200px;
    height: 200px;
    margin: 10px ;
    padding: 10px;
}

.buzz-from-the-past p {
    background: black;
    width: 175px;
    height: 100px;
    font-size: 14px;
    margin: -130px 10px 20px 24px;
    padding: 10px;
}

.faqs {
    background-image: url(./miracle-images/faqs-background.png);
    width: 1116px;
    height: 627.438px;
    margin: 20px;
    padding: 70px;
}

.faqs h1 {
    font-size: 55px;
    margin: 0 0 150px;
}

.faqs button {
    background: black;
    font-size: 18px;
    width: 400px;
    height: 100px;
    color: #ffed00;
}

.drinks-one {
margin: 50px;
padding: 0;
}

.drinks-one img {
    border-radius: 5px;
}

.drinks-two {
    margin: 50px;
    padding: 30px;
    width: 1000px;
   height: 600px;

}

.drinks-three {
    margin: 50px;
    padding: 0;
    }

    .drinks-three img {
        border-radius: 5px;
    }

    .drinks-four {
        margin: 50px;
        padding: 30px;
        width: 1000px;
       height: 600px;
    
    }